* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------*/

body{
    font-size: 1.2vw;
}

/*---------------*/

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aliceblue;
}

.foto1{
    width: 20%;
    padding: 0.5rem;
}

/*---------------*/

.foto2{
    width: 100%;
}

.foto_header{
    background-color: aliceblue;
}

/*---------------*/

.foto3{
    width: 25%;
} 

nav{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.url{
    text-decoration: none;
    color: black;
}

input:checked  ~ .ul{
    display: block;
}

input {
    display: none;
}

label {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    margin-bottom: 1em;
}

.ul{
    margin-top:0;
    padding: 0;
    display: none;
    position: absolute;
}

.li_menu{
    display: block;
    background: rgb(239, 239, 239);
    padding: 1rem;
    list-style: none;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
.li_menu:hover {
    filter: brightness(110%);
}

.li2:hover {
    filter: brightness(110%);
}

.li2{
    display: inline;
    margin: 50px 10px;
}

.boton{
    margin-left: 1em;
}

.nav2{
    margin-right: 1em;
}

/*---------------*/

section{
    width: 100%;
    background-color: aliceblue;
}

.h1{
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 15px 15px lightskyblue;
    background-color: white;
}

.p{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
}

h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*---------------*/

.container{
    width: 100%;
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 33.333333333333333%);
    grid-template-rows: repeat(3, 33.333333333333333%);
}

.ul1{
    grid-column: 1/2;
    grid-row: 1/3;
}

.standard{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.ul2{
    grid-column: 2/3;
    grid-row: 1/3;
}

.deluxe{
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.ul3{
    grid-column: 3/4;
    grid-row: 1/3;
}

.premium{
    grid-column: 3/3;
    grid-row: 3/4;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.ul1{
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
    margin: 0 auto;
    width: 90%;
    
}

.ul1 .item{
    min-width: 100%;
	scroll-snap-align: start;
    list-style-type: none;
    width: 100%;
    height: 17vw;
    border-radius: 10px;
}

.ul1 li:nth-child(1){
    background: url(/static/img/habitacion1.png); 
    background-size: cover;
    background-position: center center;
}

.ul1 li:nth-child(2){
    background: url(/static/img/habitacion1.1.png);
    background-size: cover;
    background-position: center center;
}

.ul1 li:nth-child(3){
    background: url(/static/img/habitacion1.2.png);
    background-size: cover;
    background-position: center center;
}

.ul1 li:nth-child(4){
    background: url(/static/img/habitacion1.4.png);
    background-size: cover;
    background-position: center center;
}

.ul1 li:nth-child(5){
    background: url(/static/img/habitacion1.5.png);
    background-size: cover;
    background-position: center center;
}


.ul2{
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
    margin: 0 auto;
    width: 90%;
    
}

.ul2 .item1{
    min-width: 100%;
	scroll-snap-align: start;
    list-style-type: none;
    width: 100%;
    height: 17vw;
    border-radius: 10px;
}

.ul2 li:nth-child(1){
    background: url(/static/img/habitacion2.png); 
    background-size: cover;
    background-position: center center;
}

.ul2 li:nth-child(2){
    background: url(/static/img/habitacion2.1.png);
    background-size: cover;
    background-position: center center;
}

.ul2 li:nth-child(3){
    background: url(/static/img/habitacion2.3.png);
    background-size: cover;
    background-position: center center;
}

.ul2 li:nth-child(4){
    background: url(/static/img/habitacion2.4.png);
    background-size: cover;
    background-position: center center;
}

.ul2 li:nth-child(5){
    background: url(/static/img/habitacion2.5.png);
    background-size: cover;
    background-position: center center;
}

.ul3{
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
    margin: 0 auto;
    width: 90%;
    
}


.ul3 .item2{
    min-width: 100%;
	scroll-snap-align: start;
    list-style-type: none;
    width: 100%;
    height: 17vw;
    border-radius: 10px;
}

.ul3 li:nth-child(1){
    background: url(/static/img/habitacion3.2.png); 
    background-size: cover;
    background-position: center center;
}

.ul3 li:nth-child(2){
    background: url(/static/img/habitacion3.1.png);
    background-size: cover;
    background-position: center center;
}

.ul3 li:nth-child(3){
    background: url(/static/img/habitacion3.png);
    background-size: cover;
    background-position: center center;
}

.ul3 li:nth-child(4){
    background: url(/static/img/habitacion3.3.png);
    background-size: cover;
    background-position: center center;
}

.ul3 li:nth-child(5){
    background: url(/static/img/habitacion3.4.png);
    background-size: cover;
    background-position: center center;
}

/*---------------*/

.section2{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img{
    width: 7%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 2em;
    margin-bottom: 2em;
}

/*---------------*/

footer{
    background-color: rgb(17, 132, 255);
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer1{
    width:60%;
    text-align: center;
}

.footer2{
    width: 40%;
    text-align: center;
}

.gestion{
    width: 7%;
}

.login{
    width: 13%;
}