@media(min-width: 320px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /*---------------*/

    header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #f0f8ff;
    }

    .foto1{
        width: 70%;
        padding: 0.5rem;
    }

    /*---------------*/

    .foto2{
        width: 100%;
    }

    .foto_header{
        background-color: aliceblue;
    }

    /*---------------*/


    nav{
        background-color: aliceblue;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        z-index:1;
    }

    .url{
        text-decoration: none;
        color: black;
    }

    input:checked  ~ .ul1{
        display: block;
    }

    input {
        display: none;
    }

    label {
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        background-color: white;
        margin-bottom: 1em;
    }

    .ul1{
        margin-top:0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 3;
    }

    .li_menu{
        display: block;
        background: rgb(239, 239, 239);
        padding: 1rem;
        list-style: none;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
    }

    .li_menu1{
        display: block;
        background: rgb(239, 239, 239);
        padding: 1rem;
        list-style: none;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        margin-bottom: 2em;
    }

    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    .li_menu:hover {
        filter: brightness(110%);
    }

    .li2:hover {
        filter: brightness(110%);
    }

    .li2{
        display: inline;
        margin: 50px 10px;
        font-size: 110%;
    }

    .boton{
        margin-left: 1em;
        margin-top: 0.5em;
    }

    .nav2{
        margin-right: 1em;
    }

    /*---------------*/

    .section1{
        width: 100%;
        background: aliceblue;
    }

    .section1  h1{
        font-size: 2vw;
        text-align: center;
        box-shadow: 1px 1px 15px 15px lightskyblue;
        background-color: whitesmoke;
    }

    .article1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
    }

    .article1 > h2{
        width: 50%;
        margin-top: 2em;
        text-align: center;
        font-size: 1.8vw;
    }

    .article1 > p{
        width: 45%;
        margin-top: 2.5em;
        margin-right: 5%;
        margin-bottom: 2em;
        font-size: 1.2vw;
    }

    /*---------------*/

    section{
        width: 100%;
        background-color: aliceblue;
    }

    h1{
        width: 100%;
        text-align: center;
        box-shadow: 1px 1px 15px 15px lightskyblue;
        background-color: white;
    }

    p{
        width: 90%;
        margin: 0 auto;
        margin-top: 1.5em;
    }

    /*---------------*/

    .grid{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 33.333333333333333%);
        grid-template-rows: repeat(5, 1fr);
    }

    .card{
        grid-column: 1/4;
        grid-row: 1/2;
        margin: 1em;
    }

    .card1{
        grid-column: 1/4;
        grid-row: 2/3;
        margin: 1em;
    }

    .card2{
        grid-column: 1/4;
        grid-row: 3/4;
        margin: 1em;
    }

    .card3{
        grid-column: 1/4;
        grid-row: 4/5;
        margin: 1em;
    }

    .card4{
        grid-column: 1/4;
        grid-row: 5/6;
        margin: 1em;
    }

    .card5{
        grid-column: 1/4;
        grid-row: 6/7;
        margin: 1em;
    }

    /*---------------*/

    footer{
        background-color: rgb(17, 132, 255);
        color: white;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .footer1{
        width: 65%;
        padding-bottom: 1.5rem;
        font-size: 100%;
    }

    .footer2{
        width: 35%;
        text-align: center;
    }

    .gestion{
        width: 30%;
    }


    /*---------------*/
    /*IMAGENES ANIMADAS*/
    /*---------------*/

    .card {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/limpieza.jpeg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 2;
        overflow: hidden;
    }

    .card::before,
    .card::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card__description {
        font-size: 14px;
    }

    .card:hover::before,
    .card:hover::after {
        transform: translateY(0);
    }

    .card:hover .card__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card1 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/transporte.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card1::before,
    .card1::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card1::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card1::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card1__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card1__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card1__description {
        font-size: 14px;
    }

    .card1:hover::before,
    .card1:hover::after {
        transform: translateY(0);
    }

    .card1:hover .card1__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card2 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/excursiones.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card2::before,
    .card2::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card2::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card2::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card2__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card2__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card2__description {
        font-size: 14px;
    }

    .card2:hover::before,
    .card2:hover::after {
        transform: translateY(0);
    }

    .card2:hover .card2__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card3 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/guia.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card3::before,
    .card3::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card3::before {
        top: 0;
        clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card3::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card3__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card3__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card3__description {
        font-size: 14px;
    }

    .card3:hover::before,
    .card3:hover::after {
        transform: translateY(0);
    }

    .card3:hover .card3__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card4 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/spa.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card4::before,
    .card4::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card4::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card4::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card4__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card4__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card__description {
        font-size: 14px;
    }

    .card4:hover::before,
    .card4:hover::after {
        transform: translateY(0);
    }

    .card4:hover .card4__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card5 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img//hotel10.png') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card5::before,
    .card5::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card5::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card5::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card5__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card5__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card5__description {
        font-size: 14px;
    }

    .card5:hover::before,
    .card5:hover::after {
        transform: translateY(0);
    }

    .card5:hover .card5__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*FIN IMÁGENES ANIMADAS*/
}


/*-------------------------------------------------------------------------------------*/


@media(min-width: 768px){
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /*---------------*/

    header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #f0f8ff;
    }

    .foto1{
        width: 40%;
        padding: 0.5rem;
    }

    /*---------------*/

    .foto2{
        width: 100%;
    }

    .foto_header{
        background-color: aliceblue;
    }

    /*---------------*/

    nav{
        background-color: aliceblue;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    main{
        background-color: aliceblue;
    }

    .url{
        text-decoration: none;
        color: black;
    }

    input:checked  ~ .ul1{
        display: block;
    }

    input {
        display: none;
    }

    label {
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        background-color: white;
        margin-bottom: 1em;
    }

    .ul1{
        margin-top:0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 3;
    }

    .li_menu{
        display: block;
        background: rgb(239, 239, 239);
        padding: 1rem;
        list-style: none;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
    }

    .li_menu1{
        display: block;
        background: rgb(239, 239, 239);
        padding: 1rem;
        list-style: none;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        margin-bottom: 2em;
    }

    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    .li_menu:hover {
        filter: brightness(110%);
    }

    .li2:hover {
        filter: brightness(110%);
    }

    .li2{
        display: inline;
        margin: 50px 10px;
        font-size: 130%;
    }

    .boton{
        margin-left: 1em;
        margin-top: 0.5em;
    }

    .nav2{
        margin-right: 1em;
    }

    /*---------------*/

    .section1{
        width: 100%;
        background: aliceblue;
    }

    .section1  h1{
        font-size: 2vw;
        text-align: center;
        box-shadow: 1px 1px 15px 15px lightskyblue;
        background-color: whitesmoke;
    }

    .article1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
    }

    .article1 > h2{
        width: 50%;
        margin-top: 2em;
        text-align: center;
        font-size: 1.8vw;
    }

    .article1 > p{
        width: 45%;
        margin-top: 2.5em;
        margin-right: 5%;
        margin-bottom: 2em;
        font-size: 1.2vw;
    }

    /*---------------*/

    section{
        width: 100%;
        background-color: aliceblue;
    }

    h1{
        width: 100%;
        text-align: center;
        box-shadow: 1px 1px 15px 15px lightskyblue;
        background-color: white;
    }

    p{
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    /*---------------*/

    .grid{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 1em;
    }

    .card{
        grid-column: 2/7;
        grid-row: 1/2;
        margin: 1em;
    }

    .card1{
        grid-column: 6/-1;
        grid-row: 1/2;
        margin: 1em;
    }

    .card2{
        grid-column: 2/7;
        grid-row: 2/3;
        margin: 1em;
    }

    .card3{
        grid-column: 6/-1;
        grid-row: 2/3;
        margin: 1em;
    }

    .card4{
        grid-column: 2/7;
        grid-row: 3/4;
        margin: 1em;
    }

    .card5{
        grid-column: 6/-1;
        grid-row: 3/4;
        margin: 1em;
    }

    /*---------------*/

    footer{
        background-color: rgb(17, 132, 255);
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer1{
        width: 65%;
        text-align: center;

    }

    .footer1 > p {
        height: 1px;
        align-items: center;
        font-size: 2.5vw;
    }

    .footer2{
        width: 35%;
        text-align: center;
    }

    .gestion{
        width: 15%;
    }


    /*---------------*/
    /*IMAGENES ANIMADAS*/
    /*---------------*/

    .card {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/limpieza.jpeg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 2;
        overflow: hidden;
    }

    .card::before,
    .card::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card__description {
        font-size: 14px;
    }

    .card:hover::before,
    .card:hover::after {
        transform: translateY(0);
    }

    .card:hover .card__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card1 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/transporte.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card1::before,
    .card1::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card1::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card1::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card1__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card1__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card1__description {
        font-size: 14px;
    }

    .card1:hover::before,
    .card1:hover::after {
        transform: translateY(0);
    }

    .card1:hover .card1__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card2 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/excursiones.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card2::before,
    .card2::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card2::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card2::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card2__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card2__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card2__description {
        font-size: 14px;
    }

    .card2:hover::before,
    .card2:hover::after {
        transform: translateY(0);
    }

    .card2:hover .card2__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card3 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/guia.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card3::before,
    .card3::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card3::before {
        top: 0;
        clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card3::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card3__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card3__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card3__description {
        font-size: 14px;
    }

    .card3:hover::before,
    .card3:hover::after {
        transform: translateY(0);
    }

    .card3:hover .card3__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card4 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/spa.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card4::before,
    .card4::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card4::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card4::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card4__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card4__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card__description {
        font-size: 14px;
    }

    .card4:hover::before,
    .card4:hover::after {
        transform: translateY(0);
    }

    .card4:hover .card4__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card5 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img//hotel10.png') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card5::before,
    .card5::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card5::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card5::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card5__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card5__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card5__description {
        font-size: 14px;
    }

    .card5:hover::before,
    .card5:hover::after {
        transform: translateY(0);
    }

    .card5:hover .card5__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*FIN IMÁGENES ANIMADAS*/
}


/*-------------------------------------------------------------------------------------*/


@media(min-width: 1024px){

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /*---------------*/

    header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #f0f8ff;
    }

    .foto1{
        width: 20%;
        padding: 0.5rem;
    }

    /*---------------*/

    .foto2{
        width: 100%;
    }

    .foto_header{
        background-color: aliceblue;
    }

    /*---------------*/

    .foto3{
        width: 25%;
    } 

    nav{
        background-color: aliceblue;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index:1;
    }

    .url{
        text-decoration: none;
        color: black;
    }

    input:checked  ~ .ul1{
        display: block;
    }

    input {
        display: none;
    }

    label {
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        background-color: white;
        margin-bottom: 1em;
    }

    .ul1{
        margin-top:0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 3;
    }

    .li_menu{
        display: block;
        background: rgb(239, 239, 239);
        padding: 1rem;
        list-style: none;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
    }

    .li_menu1{
        display: block;
        background: rgb(239, 239, 239);
        padding: 1rem;
        list-style: none;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        margin-bottom: 2em;
    }

    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    .li_menu:hover {
        filter: brightness(110%);
    }

    .li2:hover {
        filter: brightness(110%);
    }

    .li2{
        display: inline;
        margin: 50px 10px;
        font-size: 170%;
    }

    .boton{
        margin-left: 1em;
    }

    .nav2{
        margin-right: 1em;
    }

    /*---------------*/

    .section1{
        width: 100%;
        background: aliceblue;
    }

    .section1  h1{
        font-size: 2vw;
        text-align: center;
        box-shadow: 1px 1px 15px 15px lightskyblue;
        background-color: whitesmoke;
    }

    .article1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
    }

    .article1 > h2{
        width: 50%;
        margin-top: 2em;
        text-align: center;
        font-size: 1.8vw;
    }

    .article1 > p{
        width: 45%;
        margin-top: 2.5em;
        margin-right: 5%;
        margin-bottom: 2em;
        font-size: 1.2vw;
    }

    /*---------------*/

    section{
        width: 100%;
        background-color: aliceblue;
    }

    h1{
        width: 100%;
        text-align: center;
        box-shadow: 1px 1px 15px 15px lightskyblue;
        background-color: white;
    }

    p{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-top: 2em;
    }

    /*---------------*/

    .grid{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 33.333333333333333%);
        grid-template-rows: repeat(2, 50%);
    }

    .card{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 2em;
    }

    .card1{
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 2em;
    }

    .card2{
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 2em;
    }

    .card3{
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 2em;
    }

    .card4{
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 2em;
    }

    .card5{
        grid-column: 3/4;
        grid-row: 2/3;
        margin: 2em;
    }

    /*---------------*/

    footer{
        background-color: rgb(17, 132, 255);
        color: white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer1{
        width: 60%;
        padding: 0%;
    }

    .footer1 > p{
        font-size: 120%;
        margin-bottom: 2em;
    }

    .footer2{
        width: 40%;
    }

    .gestion{
        width: 12%;
    }

    /*---------------*/
    /*IMAGENES ANIMADAS*/
    /*---------------*/

    .card {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/limpieza.jpeg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 2;
        overflow: hidden;
    }

    .card::before,
    .card::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card__description {
        font-size: 14px;
    }

    .card:hover::before,
    .card:hover::after {
        transform: translateY(0);
    }

    .card:hover .card__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card1 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/transporte.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card1::before,
    .card1::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card1::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card1::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card1__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card1__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card1__description {
        font-size: 14px;
    }

    .card1:hover::before,
    .card1:hover::after {
        transform: translateY(0);
    }

    .card1:hover .card1__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card2 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/excursiones.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card2::before,
    .card2::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card2::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card2::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card2__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card2__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card2__description {
        font-size: 14px;
    }

    .card2:hover::before,
    .card2:hover::after {
        transform: translateY(0);
    }

    .card2:hover .card2__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card3 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/guia.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card3::before,
    .card3::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card3::before {
        top: 0;
        clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card3::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card3__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card3__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card3__description {
        font-size: 14px;
    }

    .card3:hover::before,
    .card3:hover::after {
        transform: translateY(0);
    }

    .card3:hover .card3__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card4 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img/spa.jpg') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card4::before,
    .card4::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card4::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card4::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card4__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card4__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card__description {
        font-size: 14px;
    }

    .card4:hover::before,
    .card4:hover::after {
        transform: translateY(0);
    }

    .card4:hover .card4__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*---------------*/

    .card5 {
        position: relative;
        width: 250px;
        height: 250px;
        color: black;
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background: url('/static/img//hotel10.png') center no-repeat;
        background-size: cover;
        border-radius: 20px;
        z-index: 1;
        overflow: hidden;
    }

    .card5::before,
    .card5::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }

    .card5::before {
        top: 0;
        clip-path:
            polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .card5::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }

    .card5__content {
        opacity: 0;
        transition: opacity .25s;
    }

    .card5__title {
        color: black;
        margin-bottom: 15PX;
    }

    .card5__description {
        font-size: 14px;
    }

    .card5:hover::before,
    .card5:hover::after {
        transform: translateY(0);
    }

    .card5:hover .card5__content {
        opacity: 1;
        transition-delay: .75s;
    }

    /*FIN IMÁGENES ANIMADAS*/
}